/* HeaderComponent.css */
.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 64px;
  padding: 0 0px;
}

.header-container.mobile {
  justify-content: space-between;
}

/* Überschreibe die antd-Defaults mit !important */
.header-home-button,
.header-menu-button,
.header-user-button {
  width: 64px !important;
  height: 64px !important;
  min-width: 64px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  border: none;
}

.header-home-icon,
.header-menu-icon,
.header-user-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 32px;
  color: #fff;
}


.header-menu {
  border-bottom: none;
  background: transparent;
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-menu-mobile {
  font-size: 20px;
}
